body {
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #086788;
    height: 60px;
}

.title {
    font-size: 24px;
    color: white;
    margin-left: 20px;
}

.searchbar {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 20px;
}

.searchbar>input {
    width: 250px;
    border: 1px solid #086788;
    border-radius: 20px;
    padding: 8px 15px;
}

.searchbar>input:focus {
    outline: none;
}

.searchbar>i {
    position: absolute;
    right: 15px;
}

.main {
    width: 98%;
}
.content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 20px 20px;
    /* justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.card {
    display: flex;
    background-color: #ececec;
    margin: 20px 0;
}

.movie-img {
    width: 400px;
}

.movie-name {
    width: 100%;
    text-align: center;
    margin: 5px;
}

.movie-info {
    margin-left: 20px;
}